<div class="nav-container">
  <div class="navbar">
    <nav>
      <a href="/">
        <img class="navbar-logo" src="/images/dog-logo.png" alt="logo"
      /></a>

      <ul class="main-header__item-list" id="menu-items">
        <li class="main-header__item">
          <a href="/list"> List Recognized Breeds</a>
        </li>
        <li>
          <a href="/smile"> Make me smile </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
