<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Dog breeds APIs</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1>Learn dog breeds with us!</h1>
    <h4>
      Find a dog breed in the list below, enter the name in the search bar and
      hit search. We will show you what the breed looks like.
    </h4>

    <ul>
      <% Object.keys(list).forEach(function (key) { %>
      <li><%= key %></li>
      <% }) %>
    </ul>

    <form action="/" method="POST">
      <input type="text" name="message" />
      <button type="submit">Search dog breed</button>
    </form>

    <script src="" async defer></script>
  </body>
</html>
