<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Dog breeds APIs</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="smile-img-container">
      <img src="<%= img %>" width="50%" alt="dog image" />
    </div>

    <p>
      &#169; Thank you https://dog.ceo/dog-api/ for your amazing and free API.
      All credit for the info and images go to them.
    </p>
  </body>
</html>
